.home_splash {
  background-image: linear-gradient(
      to right,
      rgba(3, 37, 65, 0.8) 0%,
      rgba(3, 37, 65, 0) 100%
    ),
    url("../../assets/images/home-splash.jpg");
  min-height: 300px;
  height: calc(100vh / 2);
  max-height: 400px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.home_inner {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
