header {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    rgb(122, 153, 217),
    rgb(28, 58, 148)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    rgb(122, 153, 217),
    rgb(28, 58, 148)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  color: #fff;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.header_inner {
  padding: 0 40px;
}

.header_menu a {
  color: #fff;
  text-decoration: none;
}

.header_menu h1 {
  margin-bottom: 0;
}
